/*============Adaptaciones para la página =================== */


/* GRID */

.container {
    display: grid;
    width: 97vw;
    margin:0px auto;
    grid-template-rows: auto auto auto 1fr auto; /* 4 filas*/
    grid-template-columns: 3fr 1fr;

    gap: 10px; /* espacio de separación */

  /* DIBUJAR LAS AREAS */
    grid-template-areas: 
    "head head"
    "nav nav"
    "main main"
    "main main"
    "foot foot"
    ;

    
}

/* .item-2, .item-3, .item-4, .item-5{
    padding-right: 8px;
    padding-left: 8px;
    background-color: white;
    border: 4px solid tomato;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    font-size: 12px;
} */



/* ================ CSS para Formulario ====================*/

.item-3{
    padding: 40px;
    width: 100%;
    height: 100%;
    background-image: url(../media/coffee-background.jpg);
    background-size:cover;
}

form{
    padding: 50px 55px;
    box-shadow: 0 0 20px black;
    border-radius: 20px;
    text-align: center;
    width: 550px;
    margin: auto;
    background-color: white;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    color: black;
    font-size: 2rem;
}

label{
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea, select{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #f6edcd;
    border: 2px solid white;
    color: black;
    outline: none;
}
textarea{
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a{
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.btn{
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    border: 0;
    border-radius: 25px;
    background-color: #e9c64b;
    box-shadow: 0 0 10px #e9c64b;
    cursor: pointer;
}

.btn:hover{
    background-color: #fff;
    transition: 0.5s ease;
}

input:invalid{
    border-color: #e9c64b;
}
.fieldRequired::after{
    content: "*";
    color: red;
}

@media (max-width: 720px){
    .item-3{
        padding: 0px;
    }
    form{
        width: auto;
        margin: 5px auto;
    }
    
}
